
body {
    background-color: #121212;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
}

header {
    background-color: #e10600;
    padding: 1rem;
    text-align: center;
    color: white;
    border-bottom: 2px solid #fff;
}

select, input, button {
    border-radius: 10px;
    padding: 10px;
    margin: 8px 0;
    border: none;
    outline: none;
}

button {
    background-color: #e10600;
    color: white;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #c00000;
}
.resultado {
  font-size: 1.2rem;
  background: #fff3cd;
  padding: 1rem;
  border-left: 5px solid #ffecb5;
}
footer {
  background: #eee;
  padding: 1rem;
  text-align: center;
}
