
body {
  background-color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: #ff0000;
}

select.form-select {
  border-radius: 0.5rem;
  border: 2px solid #ff0000;
  background-color: #1c1c1c;
  color: white;
}
